@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,700;1,400&family=Roboto+Mono&display=swap");

:root {
  --background-color: #fff;
  --dark-color: #0b192f;
  --medium-color: #8892b0;
  --light-green: rgb(159, 227, 229);
  --contrast-color: #24d152;
  --contrast-color2: #eb34d5;
  --font1: "Mulish", sans-serif;
  --font2: "Roboto Mono", monospace;
  --p-normal-mobile: 1rem;
  --p-large-mobile: 1.25rem;
  --p-normal-desktop: 1.25rem;
  --p-small-desktop: 1rem;
  --transition: all 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --placeholder-color: grey;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  min-width: 320px;
  margin: 0;
  line-height: 1.7rem;
  font-family: var(--font1);
  font-size: var(--p-normal-desktop);
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
}
#nav {
  max-width: 1500px;
  display: flex;
  margin: auto;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 2rem;
}
li {
  list-style: none;
  color: var(--dark-color);
  font-size: var(--p-normal-desktop);
}
a {
  text-decoration: none;
  color: var(--contrast-color2);
}
.footer-list li:hover,
.nav-item:hover,
.link-hover:hover {
  text-decoration: underline solid 4px;
}
header {
  background-color: var(--light-green);
  width: 100%;
  align-items: center;
}
main {
  max-width: 1200px;
}
header,
main {
  display: flex;
  flex-direction: column;
  margin: auto;
}
h1 > span {
  font-size: 1.5rem;
}
.intro {
  max-width: 700px;
}
.italics {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
#tasks-container {
  min-width: 800px;
}
table {
  width: 100%;
}
table,
th,
td {
  height: 2rem;
  border: 1px solid var(--background-color);
}
th {
  background-color: rgb(159, 227, 229);
  border-radius: 0;
}
tr {
  width: 100%;
}
tr:nth-child(odd) {
  background-color: rgb(159, 201, 252);
}
td {
  padding: 0.5rem;
}
td:last-child {
  text-align: center;
}
button {
  background-color: var(--light-green);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: var(--p-normal-desktop);
  border: none;
}
button:hover {
  background-color: #62f389;
}
#add-task-form {
  display: flex;
  justify-content: space-between;
}
input,
select {
  height: 2rem;
  font-size: var(--p-normal-desktop);
}
.form-element {
  display: flex;
  flex-direction: column;
}
input,
select {
  border-radius: 5px;
  border: none;
}
#taskInput::placeholder {
  color: var(--placeholder-color);
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25em;
  height: 1.25em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--contrast-color);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

footer {
  margin-top: 2rem;
  background-color: var(--light-green);
}
footer div {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid var(--contrast-color);
  align-items: center;
}
.footer-list a li {
  margin-top: 1rem;
}
